.firstTitle {
  color: blue;
  float: left;
  top: 13%;
  left: 17%;
  width: 100px;
  position: relative;
}
.secondTitle {
  color: blue;
  float: left;
  top: 13%;
  left: 31%;
  position: relative;
}
.thirdTitle {
  color: blue;
  float: left;
  top: 13%;
  left: 46%;
  position: relative;
}
.firstCategory {
  color: white;
  width: 200px;
  height: 300px;
  background-color: #7f7f7f;
  float: left;
  top: 20%;
  left: -25%;
  /*letter-spacing: 6px;*/
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
.secondCategory {
  color: white;
  width: 200px;
  height: 300px;
  border-right: 5px;
  background-color: #7f7f7f;
  float: left;
  top: 20%;
  left: -23%;
  /*letter-spacing: 6px;*/
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
.thirdCategory {
  color: white;
  width: 200px;
  height: 300px;
  border-right: 5px;
  background-color: #7f7f7f;
  float: left;
  top: -30%;
  left: 65%;
  /*letter-spacing: 6px;*/
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
.firstBox {
  color: #ffffff;
  float: left;
  top: 22%;
  border: none;
  position: relative;
  left: -111px;
  height: 28px;
  width: 197px;
  background-color: #7f7f7f;
  cursor: pointer;
}
.addFirstBtn {
  float: left;
  top: 28%;
  left: -312px;
  height: 30px;
  width: 62px;
  position: relative;
  cursor: pointer;
}
.clearFirstBtn {
  float: left;
  top: 28%;
  left: -304px;
  height: 30px;
  width: 62px;
  position: relative;
}
.delFirstBtn {
  float: left;
  top: 28%;
  left: -296px;
  height: 30px;
  width: 62px;
  position: relative;
}
.secondBox {
  color: #ffffff;
  float: left;
  top: 22%;
  border: none;
  position: relative;
  left: -282px;
  height: 28px;
  width: 197px;
  background-color: #7f7f7f;
  cursor: pointer;
}
.addSecondBtn {
  float: left;
  top: 23%;
  left: 105px;
  height: 30px;
  width: 62px;
  position: relative;
  cursor: pointer;
}
.clearSecondBtn  {
  float: left;
  top: 23%;
  left: 113px;
  height: 30px;
  width: 62px;
  position: relative;
}
.delSecondBtn  {
  float: left;
  top: 23%;
  left: 121px;
  height: 30px;
  width: 62px;
  position: relative;
}
.thirdBox {
  color: #ffffff;
  float: left;
  top: 17%;
  border: none;
  position: relative;
  left: 134px;
  height: 28px;
  width: 197px;
  background-color: #7f7f7f;
  cursor: pointer;
}
.addThirdBtn {
  float: left;
  top: 23%;
  left: -67px;
  height: 30px;
  width: 62px;
  position: relative;
  cursor: pointer;
}
.clearThirdBtn  {
  float: left;
  top: 23%;
  left: -59px;
  height: 30px;
  width: 62px;
  position: relative;
}
.delThirdBtn  {
  float: left;
  top: 23%;
  left: -51px;
  height: 30px;
  width: 62px;
  position: relative;
}
::placeholder {
  color: cyan;
  opacity: 1; /* Firefox */
}