
<%- include('../user/head') %>
  <link rel="stylesheet" href="/css/products/category.css">
  <title><%= title %></title>
</head>
<body>
<%- include('../user/sideMenu') %>
<div class="contentBox">
  <div class="firstTitle">
    1차 카테고리
  </div>
  <div class="secondTitle">
    2차 카테고리
  </div>
  <div class="thirdTitle">
    3차 카테고리
  </div>
  <div class="firstCategory">
    <% for ( let i = 0; i < category.length; i++) {%>
      <% if ( category[i].c_level === 0 ) {%>
      <div class="firstLevel" id="firstLevel-<%= category[i].c_seq %>" onclick="setCategory(<%= category[i].c_seq %>, 0);"><%= category[i].c_name %></div>
      <% } %>
    <% } %>
  </div>
  <div class="secondCategory">
    <% for ( let i = 0; i < category.length; i++) {%>
      <% if ( category[i].c_level === 1 ) {%>
        <div class="secondLevel" id="secondLevel-<%= category[i].c_seq %>" onclick="setCategory(<%= category[i].c_seq %>, 1);"><%= category[i].c_name %></div>
      <% } %>
    <% } %>
  </div>
  <div class="thirdCategory">
    <% for ( let i = 0; i < category.length; i++) {%>
      <% if ( category[i].c_level === 2 ) {%>
        <div class="thirdLevel" id="thirdLevel-<%= category[i].c_seq %>" onclick="setCategory(<%= category[i].c_seq %>, 2);"><%= category[i].c_name %></div>
      <% } %>
    <% } %>
  </div>
    <input type="text" class="firstBox" placeholder="1차 카테고리를 입력하세요!">
    <button class="addFirstBtn">추가</button>
    <button class="clearFirstBtn">해제</button>
    <button class="delFirstBtn">삭제</button>
    <input type="text" class="secondBox" placeholder="2차 카테고리를 입력하세요!">
    <button class="addSecondBtn">추가</button>
    <button class="clearSecondBtn">해제</button>
    <button class="delSecondBtn">삭제</button>
    <input type="text" class="thirdBox" placeholder="3차 카테고리를 입력하세요!">
    <button class="addThirdBtn">추가</button>
    <button class="clearThirdBtn">해제</button>
    <button class="delThirdBtn">삭제</button>
</div>
</div>
<script>
$(document).ready(function () {
  /* 1차 카테고리 상품 삭제 */
  $(".delFirstBtn").on("click", function () {
    let firstCategory, seq;
    for (let x = 0; x < $(".firstLevel").length; x++) {
      if ( $(".firstLevel")[x].hasAttribute("style") ) {
        firstCategory = true;
        seq = Number(($(".firstLevel")[x].id).split("-")[1]);
      }
    }
    if ( firstCategory ) {
      if (confirm("정말 삭제하시겠습니까?") === true) {
        axios({
          method: 'DELETE',
          url: '/products/category',
          data: { seq }
        }).then(data => {
          console.log("삭제행 : ", data.data.category.affectedRows)
          if ( data.data.category.affectedRows === 1 ) {
            $(`#firstLevel-${seq}`).remove();
          } else {
            alert("하위 2,3차 카테고리 상품을 먼저 삭제하세요!");
          }
        })
      } else {
        return;
      }
    } else {
      alert("삭제할 1차 카테고리 상품을 선택하세요!")
    }
  })
  /* 2차 카테고리 상품 삭제 */
  $(".delSecondBtn").on("click", function () {
    let secondCategory, seq;
    for (let x = 0; x < $(".secondLevel").length; x++) {
      if ( $(".secondLevel")[x].hasAttribute("style") ) {
        secondCategory = true;
        seq = Number(($(".secondLevel")[x].id).split("-")[1]);
      }
    }
    if ( secondCategory ) {
      if (confirm("정말 삭제하시겠습니까?") === true) {
        axios({
          method: 'DELETE',
          url: '/products/category',
          data: { seq }
        }).then(data => {
          console.log("삭제행 : ", data.data.category.affectedRows)
          if ( data.data.category.affectedRows === 1 ) {
            $(`#secondLevel-${seq}`).remove();
          } else {
            alert("하위 3차 카테고리 상품을 먼저 삭제하세요!");
          }
        })
      } else {
        return;
      }
    } else {
      alert("삭제할 2차 카테고리 상품을 선택하세요!")
    }
  })
  /* 3차 카테고리 상품 삭제 */
  $(".delThirdBtn").on("click", function () {
    let thirdCategory, seq;
    for (let x = 0; x < $(".thirdLevel").length; x++) {
      if ( $(".thirdLevel")[x].hasAttribute("style") ) {
        thirdCategory = true;
        seq = Number(($(".thirdLevel")[x].id).split("-")[1]);
      }
    }
    if ( thirdCategory ) {
      if (confirm("정말 삭제하시겠습니까?") === true) {
        axios({
          method: 'DELETE',
          url: '/products/category',
          data: { seq }
        }).then(data => {
          console.log("삭제행 : ", data.data.category.affectedRows)
          if ( data.data.category.affectedRows === 1 ) {
            $(`#thirdLevel-${seq}`).remove();
          }
        })
      } else {
        return;
      }
    } else {
      alert("삭제할 2차 카테고리 상품을 선택하세요!")
    }
  })

  /* 1차 카테고리에 상품 추가 */
  $(".addFirstBtn").on("click", function () {
    if ( $('.firstBox').val() === "" ) {
      alert("1차 카테고리 상품을 입력하세요!");
    } else {
      const firstCategory = $(".firstBox").val();
      /*console.log(firstCategory);*/
      axios({
        method: 'post',
        url: '/products/category',
        data: { firstCategory, },
      }).then( data => {
        console.log("ejs : ",data);
        const seq = data.data.category[0].c_seq;
        const name = data.data.category[0].c_name;
        const html = `<div class="firstLevel" id="firstLevel-${seq}" onclick="setCategory(${seq}, 0);">${name}</div>`
        $(".firstCategory").append(html);
        $(".firstLevel").removeAttr("style");
        $(".secondLevel").removeAttr("style");
        $(".secondLevel").remove();
        $(".thirdLevel").removeAttr("style");
        $(".thirdLevel").remove();
        $(`#firstLevel-${seq}`).css("background-color", "seagreen");
        $(".firstBox").val("");
      });
    }
  })
  /* 2차 카테고리에 상품 추가 */
  $(".addSecondBtn").on("click", function () {
    let firstSelect, seq;
    /* 1차 카테고리 상품 선택여부 확인 */
    for (let x = 0; x < $(".firstLevel").length; x++) {
      if ( $(".firstLevel")[x].hasAttribute("style") ) {
        firstSelect = true;
        seq = Number(($(".firstLevel")[x].id).split("-")[1]);
      }
    }
    if ( firstSelect ) {
      console.log("1차 : ", seq );
      if ( $('.secondBox').val() === "" ) {
        alert("2차 카테고리 상품을 입력하세요!");
      } else {
        const secondCategory = $(".secondBox").val();
        axios({
          method: 'post',
          url: '/products/category',
          data: { secondCategory, seq, },
        }).then( data => {
          console.log("===== : ", data.data.category);
          const seq = data.data.category[0].c_seq;
          const name = data.data.category[0].c_name;
          const html = `<div class="secondLevel" id="secondLevel-${seq}" onclick="setCategory(${seq}, 1);">${name}</div>`
          $(".secondCategory").append(html);
          $(".secondLevel").removeAttr("style");
          $(".thirdLevel").removeAttr("style");
          $(".thirdLevel").remove();
          $(`#secondLevel-${seq}`).css("background-color", "seagreen");
          $(".secondBox").val("");
        })
      }
    } else {
      alert("먼저 1차 카테고리 상품을 선택 하세요!");
    }
  });
  /* 3차 카테고리에 메뉴 추가 */
  $(".addThirdBtn").on("click", function () {
    let firstSelect, secondSelect, seq;
    /* 1차 카테고리 상품 선택여부 확인 */
    for (let x = 0; x < $(".firstLevel").length; x++) {
      if ( $(".firstLevel")[x].hasAttribute("style") ) {
        firstSelect = true;
      }
    }
    /* 2차 카테고리 상품 선택여부 확인 */
    for (let x = 0; x < $(".secondLevel").length; x++) {
      if ( $(".secondLevel")[x].hasAttribute("style") ) {
        secondSelect= true;
        seq = Number(($(".secondLevel")[x].id).split("-")[1]);
      }
    }
    if ( firstSelect ) {
      if ( secondSelect ) {
        if ( $('.thirdBox').val() === "" ) {
          alert("3차 카테고리 상품을 입력하세요!");
        } else {
          const thirdCategory = $(".thirdBox").val();
          axios({
            method: 'post',
            url: '/products/category',
            data: { thirdCategory, seq, },
          }).then( data => {
            console.log("===== : ", data.data.category);
            const seq = data.data.category[0].c_seq;
            const name = data.data.category[0].c_name;
            const html = `<div class="thirdLevel" id="thirdLevel-${seq}" onclick="setCategory(${seq}, 2);">${name}</div>`
            $(".thirdCategory").append(html);
            $(".thirdLevel").removeAttr("style");
            $(`#thirdLevel-${seq}`).css("background-color", "seagreen");
            $(".thirdBox").val("");
          })
        }
      } else {
        alert("먼저 2차 카테고리 상품을 선택 하세요!");
      }
    } else {
      alert("먼저 1차 카테고리 상품을 선택 하세요!");
    }
  })
})

$(document).ready(function () {
  /* 선택된 1차 카테고리 상품 해제 */
  $(".clearFirstBtn").on("click", function () {
    $(".firstLevel").removeAttr("style");
    $(".secondLevel").removeAttr("style");
    $(".thirdLevel").removeAttr("style");
  })
  /* 선택된 2차 카테고리 상품 해제 */
  $(".clearSecondBtn").on("click", function () {
    $(".secondLevel").removeAttr("style");
    $(".thirdLevel").removeAttr("style");
  })
  /* 선택된 3차 카테고리 상품 해제 */
  $(".clearThirdBtn").on("click", function () {
    $(".thirdLevel").removeAttr("style");
  })
})
/* 카테고리 상품 선택 */
function setCategory(seq, level) {
  console.log(seq, level);
  /* 1차 카테고리 상품 선택 */
  if ( level === 0 ) {
    $(".firstLevel").removeAttr("style");
    $(`#firstLevel-${seq}`).css("background-color", "seagreen");
    /* 선택된 1차 카테고리 상품 관련 2차 카테고리 상품 가져오기 */
    axios({
      method: 'GET',
      url: '/products/category',
      params: { seq }
    }).then(data => {
      const category = data.data.category;
      const len = data.data.category.length;
      let html = "";
      $(".secondLevel").remove();
      $(".thirdLevel").remove();
      for (let x = 0; x < len; x++ ) {
        if ( category[x].c_level == 1 ) {
          html += `<div class="secondLevel" id="secondLevel-${category[x].c_seq}" onclick="setCategory(${category[x].c_seq}, 1);">${category[x].c_name}</div>`
        }
      }
      $(".secondCategory").append(html);
    })
  } else if ( level === 1 ) {
    /* 2차 카테고리 선택 */
    let firstSelect;
    for (let x = 0; x < $('.firstLevel').length; x++) {
      if ( $('.firstLevel')[x].hasAttribute("style") ) {
        firstSelect = true;
      }
    }
    if ( firstSelect ) {
      $(".secondLevel").removeAttr("style");
      $(`#secondLevel-${seq}`).css("background-color", "seagreen");
      /* 선택된 2차 카테고리 상품 관련 3차 카테고리 상품 가져오기 */
      axios({
        method: 'GET',
        url: '/products/category',
        params: { seq }
      }).then(data => {
        const category = data.data.category;
        const len = data.data.category.length;
        let html = "";
        $(".thirdLevel").remove();
        for (let x = 0; x < len; x++ ) {
          if ( category[x].c_level == 2 ) {
            html += `<div class="thirdLevel" id="thirdLevel-${category[x].c_seq}" onclick="setCategory(${category[x].c_seq}, 2);">${category[x].c_name}</div>`
          }
        }
        $(".thirdCategory").append(html);
      })
    } else {
      alert("먼저 1차 카테고리 상품을 선택 하세요!");
    }
  } else {
    let secondSelect;
    for (let x = 0; x < $('.secondLevel').length; x++) {
      if ( $('.secondLevel')[x].hasAttribute("style") ) {
        secondSelect = true;
      }
    }
    if ( secondSelect ) {
      $(".thirdLevel").removeAttr("style");
      $(`#thirdLevel-${seq}`).css("background-color", "seagreen");
    } else {
      alert("먼저 2차 카테고리 상품을 선택 하세요!");
    }
  }
}

</script>
</body>
</html>