.title {
    top: 24%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.userId {
    top: 31%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
span.createIdSpan {
    top: 28%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
.userPhone {
    top: 38%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
.btn {
    cursor: pointer;
    border: none;
    outline: none;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 308px;
    height: 45px;
    font-size: 20px;
    background-color: coral;
}
.btn:active {
    background-color: cornflowerblue;
}
.user {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
a {
    color: gray;
    text-decoration:none;
}