.container {
    border: 0px solid black;
    width: 1000px;
    height: 800px;
    margin: auto;
}
.menuBox {
    font-size: 16px;
    font-weight: bold;
    font-family: 맑은고딕;
    color: #ffffff;
    /*text-align: center;*/
    letter-spacing: 3px;
    width: 200px;
    height: 600px;
    background-color: #7f7f7f;
    float: left;
    box-sizing: border-box;
}
.contentBox {
    color: #1f2421;
    width: 800px;
    height: 600px;
    float: left;
    position: relative;
    background-color: #cccccc;
    box-sizing: border-box;
}
.userId {
    position: relative;
    top: 15px;
    left: 30px;
    color: darkblue;
}
p {
    position: absolute;
    top: 35%;
    left: 35%;
}
.members {
    position: relative;
    top: 60px;
    left: 30px;
    cursor:pointer;
}
.members:hover {
    color: darkturquoise;
}
.category {
    position: relative;
    top: 80px;
    left: 30px;
    cursor:pointer;
}
.category:hover {
    color: darkturquoise;
}
.products {
    position: relative;
    top: 100px;
    left: 30px;
    cursor:pointer;
}
.products:hover {
    color: darkturquoise;
}
.order {
    position: relative;
    top: 120px;
    left: 30px;
    cursor:pointer;
}
.order:hover {
    color: darkturquoise;
}
.post {
    position: relative;
    top: 140px;
    left: 30px;
    cursor:pointer;
}
.post:hover {
    color: darkturquoise;
}
.notice {
    position: relative;
    top: 10px;
    left: 20px;
}
.notice:hover {
    color: chocolate;
}
.qna {
    position: relative;
    top: 20px;
    left: 20px;
}
.qna:hover {
    color: chocolate;
}
.review {
    position: relative;
    top: 30px;
    left: 20px;
}
.review:hover {
    color: chocolate;
}
.logout {
    position: relative;
    top: 180px;
    left: 30px;
}
a {
    text-decoration-line: none;
}
a:hover {
    color: coral;
}