.subject {
    top: 2%;
    left: 45%;
    letter-spacing: 6px;
    position: relative;
    transform: translate(-1%, -45%);
}
hr {
    border: 1px solid white;
    width: 780px;
}
table {
    font-weight: bold;
    width: 780px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 1px solid white;
    overflow:hidden;
    word-break:normal;
    position: relative;
}
.td-01 {
    color: white;
    width: 120px;
    text-align: center;
    background-color: #7f7f7f;
}
.td-03 {
    color: white;
    width: 120px;
    text-align: center;
    background-color: #7f7f7f;
}
.td-02 {
    color: #1f2421;
    width: 300px;
    padding:10px 10px;
}
.td-04 {
    color: #1f2421;
    width: 300px;
    padding:10px 10px;
}
.btn {
    position: relative;
    top: 10px;
    left: 660px;
}
.btnList {
    /*padding: 2px 0px;*/
    top: 10px;
    left: 10px;
    float: left;
    position: relative;
}
.btnBack {
    /*padding: 2px 0px;*/
    top: 10px;
    left: 10px;
    float: left;
    position: relative;
}
.btnEdit {
    /*padding: 2px 0px;*/
    float: left;
    position: relative;
}
.btnSave {
    /*padding: 2px 0px;*/
    float: left;
    position: relative;
}
.btnDel {
    /*padding: 2px 0px;*/
    float: left;
    position: relative;
}
input {
    height: 30px;
    width: 230px;
    font-weight: bold;
    font-size: 16px;
    background-color: #cccccc;
    border: 0px;
}
select {
    width: 80px;
    height: 28px;
    border-radius: 3px;
}