.subject {
    top: 2%;
    left: 45%;
    letter-spacing: 6px;
    position: relative;
    transform: translate(-1%, -45%);
}
.search {
    top: 8%;
    left: 3%;
    font-weight: bold;
    letter-spacing: 6px;
    position: relative;
    transform: translate(-1%, -45%);
}
select {
    width: 80px;
    height: 28px;
    border-radius: 3px;
    padding: 0px;
}
.searchBox {
    height: 23px;
    width: 120px;
    padding: 0px;
}
.btnSearch {
    height: 25px;
}
hr {
    border: 1px solid white;
    width: 780px;
}
.title {
    font-weight: bold;
    /*padding: 0px 20px 0px;*/
    float: left;
}
.title-no {
    float: left;
    font-weight: bold;
    padding: 0 0 0 20px;
}
.title-id {
    float: left;
    font-weight: bold;
    padding: 0 0 0 30px;
}
.title-name {
    float: left;
    font-weight: bold;
    padding: 0 0 0 50px;
}
.title-phone {
    float: left;
    font-weight: bold;
    padding: 0 0 0 50px;
}
.title-date {
    float: left;
    font-weight: bold;
    padding: 0 0 0 60px;
}
.title-num {
    float: left;
    font-weight: bold;
    padding: 0 0 0 60px;
}
.title-buy {
    float: left;
    font-weight: bold;
    padding: 0 0 0 40px;
}
.title-btn {
    float: left;
    font-weight: bold;
    padding: 0 0 0 60px;
}
.memberList {
    /*padding: 2px 0px;*/
    float: left;
    position: relative;
}
.no {
    left: 20px;
    width: 20px;
}
.id {
    left: 50px;
    width: 30px;
}
.name {
    left: 110px;
    width: 65px;
}
.phone {
    left: 120px;
    width: 111px;
}
.signupDate {
    left: 140px;
    width: 100px;
}
.count {
    left: 170px;
    width: 50px;
    text-align: center;
}
.amount {
    left: 190px;
    width: 120px;
    text-align: center;
}
.btn {
    left: 210px;
    width: 80px;
}
.page {
    float: left;
    position: relative;
    left: 345px;
    /*text-align: center;*/
}