.title {
    top: 7%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}
input:focus {
    outline-color: coral;
}
p.userId {
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.userId {
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 38px;
    font-size: 15px;
}
p.userPw {
    top: 19%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.userPw {
    top: 24%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
p.userRePw {
    top: 28%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.userRePw {
    top: 33%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
p.userNm {
    top: 38%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.userNm {
    top: 43%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
p.userEmail {
    top: 47%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.userEmail {
    top: 52%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
p.userPhone {
    top: 56%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.userPhone {
    top: 61%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
}
p.userAddress {
    top: 66%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -49%);
    width: 300px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
}
input.addressNum {
    top: 71%;
    left: 50%;
    position: absolute;
    transform: translate(-98%, -49%);
    width: 150px;
    height: 35px;
    font-size: 15px;
}
input.address1 {
    top: 77%;
    left: 50%;
    position: absolute;
    transform: translate(-38%, -49%);
    width: 400px;
    height: 35px;
    font-size: 15px;
}
input.address2 {
    top: 83%;
    left: 50%;
    position: absolute;
    transform: translate(-38%, -49%);
    width: 400px;
    height: 35px;
    font-size: 15px;
}
.btn {
    cursor: pointer;
    border: none;
    outline: none;
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 308px;
    height: 45px;
    font-size: 18px;
    background-color: coral;
    font-weight: bold;
}
.btn:active {
    background-color: cornflowerblue;
}