<%- include('head') %>
    <link rel="stylesheet" href="/css/user/changePw.css"/>

    <title><%= title %></title>
</head>
<script>
    function changePw() {
        const userPw = $('#userPw').val();
        const userRePw = $('#userRePw').val();
        const userId = $('.id').text();

        if (userPw === undefined || userPw === "" || userPw.length === 0 || $.trim(userPw) === "") {
            alert("새비밀번호를 입력하세요!");
            $('#userPw').focus();
            return false;
        }

        if (userRePw === undefined || userRePw === "" || userRePw.length === 0 || $.trim(userRePw) === "" ) {
            alert("비밀번호 확인을 입력하세요!");
            $('#userRePw').focus();
            return false;
        }

        if (userPw !== userRePw) {
            alert("비밀번호가 서로 다릅니다.");
            $('#userRePw').focus();
            return false;
        }

        axios({
            method: 'post',
            url: '/user/changePassword',
            data: {
                m_id: userId,
                m_password: userPw,
            }
        }).then(data => {
            if (data["data"].m_id === false) {
                alert(data["data"].m_grade);
                $('#userId').focus();
                return false;
            } else {
                const check = confirm(`새 비밀번호로 변경하시겠습니까?`);
                if (check === true) {
                    alert('새 비밀번호로 변경되었습니다.\n\n로그인 페이지로 이동합니다.');
                    location.replace("/login");
                } else {
                    return false;
                }
            }
        })
    }

</script>
<body>
<div class="container">
    <div class="title">
        <%= title %>
    </div>
    <form name="frm">
        <div class="id"><%= m_id %></div>
        <div class="pw">
            <input type="password" class="userPw" id="userPw" name="userPw" placeholder="새 비빌번호"/>
        </div>
        <div class="rePw">
            <input type="password" class="userRePw" id="userRePw" name="userRePw" placeholder="비빌번호 확인"/>
        </div>
    </form>
    <div class="button">
        <button class="btn" type="button" onclick="changePw();">확 인</button>
    </div>
    <div class="user">
        <a href="/login">로 그 인</a>
        <span>|</span>
        <a href="/user/findId">아이디 찾기</a>
        <span>|</span>
        <a href="/user/findPw">비밀번호 찾기</a>
    </div>
</div>
</body>
</html>