<%- include('head') %>
    <link rel="stylesheet" href="/css/user/findId.css"/>

    <title><%= title %></title>
</head>
<script>
    function searchName() {
        let userNm = $('#userNm').val();
        let userEmail = $('#userEmail').val();

        if (userNm === undefined || userNm === "" || userNm.length === 0 || $.trim(userNm) === "") {
            alert("이름을 입력하세요!");
            $('#userNm').focus();
            return false;
        }

        if (userEmail === undefined || userEmail === "" || userEmail.length === 0 || $.trim(userEmail) === "" ) {
            alert("이메일을 입력하세요!");
            $('#userEmail').focus();
            return false;
        }

        axios({
            method: 'post',
            url: '/user/searchName',
            data: {
                m_name: userNm,
                m_email: userEmail
            }
        }).then(data => {   // 사용중인지 확인
            if (data["data"].m_id === false) {
                alert(data["data"].m_grade);
                $('#userNm').focus();
                return false;
            } else {
                const check = confirm(`사용자 아이디는 "${data["data"].m_grade}" 입니다. \n\n로그인 페이지로 이동하시겠습니까?`);
                if (check === true) {
                    location.replace("/login");
                } else {
                    return false;
                }
            }
        })
    }


</script>
<body>
<div class="container">
    <div class="title">
        <%= title %>
    </div>
    <form name="frm">
        <div class="name">
            <input type="text" class="userNm" id="userNm" name="userNm" placeholder="이름을 입력하세요"/>
        </div>
        <div class="email">
            <input type="email" class="userEmail" id="userEmail" name="userEmail" placeholder="이메일을 입력하세요"/>
        </div>
    </form>
    <div class="button">
        <button class="btn" type="button" onclick="searchName();">확 인</button>
    </div>
    <div class="user">
        <a href="/login">로 그 인</a>
        <span>|</span>
        <a href="/signup" >회원가입</a>
        <span>|</span>
        <a href="/user/findPw">비밀번호찾기</a>
    </div>
</div>
</body>
</html>