<%- include('head') %>
    <link rel="stylesheet" href="/css/user/findPw.css"/>

    <title><%= title %></title>
</head>
<script>

    function searchPw() {
        let userId = $('#userId').val();
        let userPhone = $('#userPhone').val();

        if (userId === undefined || userId === "" || userId.length === 0 || $.trim(userId) === "") {
            alert("아이디를 입력하세요!");
            $('#userId').focus();
            return false;
        }

        if (userPhone === undefined || userPhone === "" || userPhone.length === 0 || $.trim(userPhone) === "" ) {
            alert("휴대폰번호를 입력하세요!");
            $('#userPhone').focus();
            return false;
        }

        axios({
            method: 'post',
            url: '/user/searchPw',
            data: {
                m_id: userId,
                m_phone: userPhone
            }
        }).then(data => {   // 사용중인지 확인
            if (data["data"].m_id === false) {
                alert(data["data"].m_grade);
                $('#userId').focus();
                return false;
            } else {
                history.replaceState({}, null, location.search);
                const check = confirm(`새 비밀번호를 입력하세요!`);
                if (check === true) {
                    document.location.href = `/user/changePw/${userId}`;
                } else {
                    return false;
                }
            }
        })
    }


</script>
<body>
<div class="container">
    <div class="title">
        <%= title %>
    </div>
    <form name="frm">
        <div class="id">
            <input type="text" class="userId" id="userId" name="userId" placeholder="아이디를 입력하세요"/>
        </div>
        <div class="phone">
            <input type="text" class="userPhone" id="userPhone" name="userPhone" placeholder="휴대폰번호를 입력하세요"/>
        </div>
    </form>
    <div class="button">
        <button class="btn" type="button" onclick="searchPw();">확 인</button>
    </div>
    <div class="user">
        <a href="/login">로 그 인</a>
        <span>|</span>
        <a href="/user/findId">아이디 찾기</a>
        <span>|</span>
        <a href="/signup">회원가입</a>
    </div>
</div>
</body>
</html>