<%- include('head') %>
    <link rel="stylesheet" href="/css/user/login.css"/>

    <title><%= title %></title>
</head>
<script>
    function login() {
        let userId = $('#userId').val();
        let userPw = $('#userPw').val();

        if (userId === undefined || userId === "" || userId.length === 0 || $.trim(userId) === "") {
            alert("아이디를 입력하세요!");
            $('#userId').focus();
            return false;
        }

        if (userPw === undefined || userPw === "" || userPw.length === 0 || $.trim(userPw) === "" ) {
            alert("비밀번호를 입력하세요!");
            $('#userPw').focus();
            return false;
        }

        axios({
            method: 'post',
            url: '/login/checkId',
            data: {
                m_id: userId,
                m_password: userPw
            }
        }).then(data => {   // 사용중인지 확인
            if (data["data"].m_id === false) {
                $('.id').append('<span class="createIdSpan" id="createIdSpan"></span>');
                $('#createIdSpan').css('color', 'red').css('font-size', '10px');
                document.getElementById('createIdSpan').innerText = `${data["data"].m_grade}`;
                $('#userId').focus();
                return false;
            } else if (data["data"].m_id === true) {    //
                if (data["data"].m_grade === 'manager') {
                    const obj = document.frm;
                    obj.method = "post";
                    obj.action = "/manage";
                    obj.submit();
                } else {
                    document.location.href = `/main/${userId}`;
                }
            }
        })
    }


</script>
<body>
<div class="container">
    <div class="title">
        <%= title %>
    </div>
    <form name="frm">
        <div class="id">
            <input type="text" class="userId" id="userId" name="userId" placeholder="아이디"/>
        </div>
        <div class="pw">
            <input type="password" class="userPw" id="userPw" name="userPw" placeholder="비밀번호"/>
        </div>
    </form>
    <div class="button">
        <button class="btn" type="button" onclick="login();">로 그 인</button>
    </div>
    <div class="user">
        <a href="/signup" >회원가입</a>
        <span>|</span>
        <a href="/user/findId">아이디 찾기</a>
        <span>|</span>
        <a href="/user/findPw">비밀번호 찾기</a>
    </div>
</div>
</body>
</html>