<%- include('head') %>
<link rel="stylesheet" href="/css/user/memberDetail.css">
<title><%= title %></title>
</head>
<script>
$(document).ready(function () {
    // 수정버튼 클릭시 input 태그 수정활성 및 이전, 저장 버튼 생성
    $(".btnEdit").on("click", function () {
        if (confirm('수정하시겠습니까?') == true) {
            $(".tdBox").removeAttr("readonly"); // input 태그 readonly 삭제
            $(".btnEdit").remove();
            // 회원등급 select 태그 추가
            let sel = '<select name="gradeSel" id="gradeSel">' +
                '<option value="family">FAMILY</option>' +
                '<option value="best">BEST</option>' +
                '<option value="vip">VIP</option>' +
                '<option value="manager">MANAGER</option></select>';
            $('#grade').empty();
            $('#grade').append(sel);
            // 수정버튼대신 저장버튼 넣기
            let html = '<button type="button" class="btnSave">저장</button>';
            $(".btn").append(html);
            $(".btnList").remove();
            // 목록버튼대신 이전버튼 넣기
            let backHtml = '<button type="button" class="btnBack">이전</button>';
            $(".btn1").append(backHtml);
            // select 태그 회원등급 option 값 넣기
            $("#gradeSel").val("<%= memberDetail[0].m_grade %>").attr("selected", "selected");
            $("#userNm").css({ "background-color" : "yellow"});
            $("#userEmail").css({ "background-color" : "yellow"});
            $("#userPhone").css({ "background-color" : "yellow"});
            $("#userBuyCount").css({ "background-color" : "yellow"});
            $("#userBuyAmount").css({ "background-color" : "yellow"});
            /*$("#userVisitCount").css({ "background-color" : "yellow"});*/
            $("#userDetailAddress").css({ "background-color" : "yellow"});
            $("#userNote").css({ "background-color" : "yellow"});
            $("#gradeSel").css({ "background-color" : "yellow"});
        } else {
            return false;
        }
    });
    // 이전버튼 클릭시 상세페이지로 돌리기
    $(document).on("click", ".btnBack", function () {
        document.location.href = `/members/detail/<%= memberDetail[0].m_seq %>`;
    })
    // 상세페이지 수정후 저장하기
    $(document).on("click", ".btnSave", function() {
        if (confirm('저장하시겠습니까?') == true) {
            $(".btnSave").remove(); // 저장버튼 삭제후 수정버튼 넣기
            let html = '<button type="button" class="btnEdit">수정</button>';
            $(".btn").append(html);
            $(".tdBox").attr("readonly", true); // input 태그 비활성화하기
            // 수정된 data 저장하기
            axios({
                method: 'post',
                url: '/members/modify/<%= memberDetail[0].m_seq %>',
                data: {
                    m_name: $("#userNm").val(),
                    m_email: $("#userEmail").val(),
                    m_phone: $("#userPhone").val(),
                    m_buying_count: $("#userBuyCount").val(),
                    m_buying_amount: $("#userBuyAmount").val(),
                    /*m_visit_count: $("#userVisitCount").val(),*/
                    m_detail_address: $("#userDetailAddress").val(),
                    m_note: $("#userNote").val(),
                    m_grade: $("#gradeSel option:selected").val()
                }
            }).then(data => {   // 수정된 data 저장후 상세페이지 다시 보기
              if (data.data.result == true) location.reload();
                /*document.location.href = `/members/detail/<%= memberDetail[0].m_seq %>`;*/
            });
        } else {
            return false;
        }
    });
})

</script>
<body>
<%- include('sideMenu') %>
<div class="contentBox">
    <div class="subject">
        <h3>회원상세</h3>
    </div>
    <hr>
    <table>
        <tbody>
        <form name="frmUpdate">
            <tr>
                <td class="td-01">No</td>
                <td class="td-02"><input type="text" class="tBox" id="userSeq" value="<%= memberDetail[0].m_seq %>" readonly /></td>
                <td class="td-03">아 이 디</td>
                <td class="td-04"><input type="text" class="tBox" id="userId" value="<%= memberDetail[0].m_id %>" readonly /></td>
            </tr>
            <tr>
                <td class="td-01">이   름</td>
                <td class="td-02" id="userNm-td"><input type="text" class="tdBox" id="userNm" value="<%= memberDetail[0].m_name %>" readonly /></td>
                <td class="td-03">이 메 일</td>
                <td class="td-04" id="userEmail-td"><input type="text" class="tdBox" id="userEmail" value="<%= memberDetail[0].m_email %>" readonly /></td>
            </tr>
            <tr>
                <td class="td-01">전화번호</td>
                <td class="td-02" id="userPhone-td"><input type="text" class="tdBox" id="userPhone" value="<%= memberDetail[0].m_phone %>" readonly /></td>
                <td class="td-03">구매횟수</td>
                <td class="td-04" id="userBuyCount-td"><input type="text" class="tdBox" id="userBuyCount" value="<%= memberDetail[0].m_buying_count %>" readonly /></td>
            </tr>
            <tr>
                <td class="td-01">구매총금액</td>
                <td class="td-02" id="userBuyAmount-td"><input type="text" class="tdBox" id="userBuyAmount" value="<%= memberDetail[0].m_buying_amount %>" readonly /></td>
                <td class="td-03">가 입 일</td>
                <td class="td-04"><span data-date="<%= memberDetail[0].m_signup_date %>"></span></td>
            </tr>
            <tr>
                <td class="td-01">최근방문일</td>
                <td class="td-02"><span data-date="<%= memberDetail[0].m_last_date %>"></span></td>
                <td class="td-03">방문횟수</td>
                <td class="td-04" id="userVisitCount"><%= memberDetail[0].m_visit_count %></td>
            </tr>
            <tr>
                <td class="td-01">우편번호</td>
                <td class="td-02"><%= memberDetail[0].m_post %></td>
                <td class="td-03">주   소</td>
                <td class="td-04"><%= memberDetail[0].m_address %></td>
            </tr>
            <tr>
                <td class="td-01">상세주소</td>
                <td class="td-02" colspan="3" id="userDetailAddress-td"><input type="text" class="tdBox" id="userDetailAddress" value="<%= memberDetail[0].m_detail_address %>" readonly /></td>
            </tr>
            <tr>
                <td class="td-01">회원등급</td>
                <td class="td-02" id="grade"><%= memberDetail[0].m_grade %></td>
                <td class="td-03">비   고</td>
                <td class="td-04" id="userNote-td"><input type="text" class="tdBox" id="userNote" value="<%= memberDetail[0].m_note %>" readonly /></td>
            </tr>
        </form>
        </tbody>
    </table>
    <div class="btn1">
        <!--첫 상세페이지 출력후 다시 목록 페이지로 가기-->
        <button type="button" class="btnList" onclick="location.href=`/members/<%=currentPage%>`">목록</button>
    </div>
    <div class="btn">
        <button type="button" class="btnEdit" >수정</button>
        <form action="/members/del/<%= memberDetail[0].m_seq %>" method="post">
            <a href="javascript:void(0)" onclick="confirm('정말 삭제 하시겠습니까?')?this.parentElement.submit():null;">
                <button type="button" class="btnDel">삭제</button>
            </a>
        </form>
    </div>
</div>
</body>
</html>