
<%- include('head') %>
    <link rel="stylesheet" href="/css/user/members.css">
    <title><%= title %></title>
</head>
<body>
<%- include('sideMenu') %>
    <div class="contentBox">
        <div class="search">
            <!--<form method="get" onsubmit="return check()">-->
            <form method="get">
                <select name="searchSelected" id="searchSelected" class="searchSelected">
                    <option value="">검색조건</option>
                    <option value="m_id" <%if(searchSelected == 'm_id'){%>selected<%}%>>아이디</option>
                    <option value="m_name" <%if(searchSelected == 'm_name'){%>selected<%}%>>이름</option>
                    <option value="m_grade" <%if(searchSelected == 'm_grade'){%>selected<%}%>>등급</option>
                </select>
                <input type="text" class="searchBox" id="searchBox" name="searchBox" value="<%=searchBox%>" placeholder="검색어를 넣으세요!" />
                <button class="btnSearch">확인</button>
                <%if(searchSelected && searchBox) {%>
                <button class="btnSearchCancel">검색취소</button>
                <%}%>
            </form>
        </div>
        <div class="subject">
            <h3>회원관리</h3>
        </div>
        <hr>
        <div class="title-no">
            No
        </div>
        <div class="title-id">
            아이디
        </div>
        <div class="title-name">
            이름
        </div>
        <div class="title-phone">
            전화번호
        </div>
        <div class="title-date">
            가입일
        </div>
        <div class="title-num">
            구매횟수
        </div>
        <div class="title-buy">
            구매금액
        </div>
        <div class="title-btn">
            관리
        </div>
        <br>
        <hr>
        <div class="contentList">
            <% for (let i = 0; i < members.length; i++) { %>
            <div class="memberList no">
                <%= members[i].m_seq %>
            </div>
            <div class="memberList id">
                <%= members[i].m_id %>
            </div>
            <div class="memberList name">
                <%= members[i].m_name %>
            </div>
            <div class="memberList phone">
                <%= members[i].m_phone %>
            </div>
            <div class="memberList signupDate">
                <span data-date="<%= members[i].m_signup_date %>"></span>
            </div>
            <div class="memberList count">
                <%= members[i].m_buying_count %>
            </div>
            <div class="memberList amount">
                <%= members[i].m_buying_amount %>
            </div>
            <div class="memberList btn">
                <button type="button" onclick="location.href=`/members/detail/<%= members[i].m_seq %>?currentPage=<%=paging.currentPage%>`;">상세보기</button>
            </div>
            <br><br>
            <% } %>
        </div>
        <br>
        <div class="page">
            <% if ( paging.startPage != 1 ) { %>
                <a href="/members/<%= paging.startPage - paging.pageCount %>"><button type="button">이전</button></a>
            <% } %>
            <% for (let i = paging.startPage; i <= paging.endPage; i ++) { %>
            <a href="/members/<%=i%>"><%=i%></a>
            <% } %>
            <% if ( paging.endPage < paging.totalPage ) { %>
                <a href="/members/<%= (paging.endPage + 1) %>"><button type="button">다음</button></a>
            <% } %>
        </div>
    </div>
</div>
<script>
  $(document).ready(function () {
    $(".btnSearchCancel").on("click", function () {
      $(".searchSelected option:selected").val("");
      $(".searchBox").val("");
      $("form").submit();
    })
  })
</script>
</body>
</html>