<script>
  $(document).ready(function () {
    $('.sub').hide();
    $('.post').click(function () {
        $('.sub').slideDown('fast');
    })
  })
  $(document).ready(function () {
    $('.members').click(function () {
      const userId = document.getElementById('userId').innerHTML;
      axios({
        method: 'post',
        url: '/members/1',
        data: {
          m_id: userId,
        }
      }).then(data => {
        document.location.href = `/members/1`;
      });
    })
  })

</script>
<div class="container">
  <div class="menuBox">
    <div class="userId" id="userId">
      <%= name %>
    </div>
    <span class="members">
      회원관리
    </span>
    <br>
    <a href="/products/category?m_id=<%= name %>"><span class="category">
      상품분류관리
    </span></a>
    <br>
    <span class="products">
      상품관리
    </span>
    <br>
    <span class="order">
      주문관리
    </span>
    <br>
    <span class="post">
      게시판관리
      <div class="sub" style="display: none">
        <span class="notice">
          공지사항
        </span>
        <br>
        <span class="qna">
          1대1문의게시판
        </span>
        <br>
        <span class="review">
          상품후기게시판
        </span>
      </div>
    </span>
    <br>
    <span class="logout">
      <a href="javascript:void(0)" onclick="confirm('로그아웃 하시겠습니까?')?document.location.href = `/logout`:null;">
        관리자로그아웃
      </a>
    </span>
  </div>