<%- include('head') %>
<link rel="stylesheet" href="/css/user/signup.css"/>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<title><%= title %></title>
</head>
<script>
    // 아이디 입력 체크
    function checkId(obj) {
        let str = obj.value;
        axios({
            method: 'post',
            url: '/signup/checkedId',
            data: {
                m_id: str,
            }
        }).then(data => {   // 사용중인지 확인
            console.log(data);
            if (data.data == true ) {
                $('.userId').append('<span class="createIdSpan" id="createIdSpan"></span>');
                $('#createIdSpan').css('color', 'red').css('font-size', '10px');
                document.getElementById('createIdSpan').innerText = '이미 사용중입니다!';
                $('#userId').focus();
                return false;
            } else if (data.data == false) {
                $('#createIdSpan').remove();
                for (let i = 0; i < str.length; i++) {
                    let data = str.charAt(i);
                    if ((data >= '0' && data <= '9') || (data >= 'a' && data <= 'z') || (data >= 'A' && data <= 'Z')) {
                        if ($('#createIdSpan')) {
                            $('#createIdSpan').remove();
                            $('.userId').append('<span class="createIdSpan" id="createIdSpan"></span>');
                            $('#createIdSpan').css('color', 'blue').css('font-size', '10px');
                            document.getElementById('createIdSpan').innerText = '사용 가능합니다!';
                            $('#userPw').focus();
                        }
                    } else {
                        $('.userId').append('<span class="createIdSpan" id="createIdSpan"></span>');
                        $('#createIdSpan').css('color', 'red').css('font-size', '10px');
                        document.getElementById('createIdSpan').innerText = '영문/숫자만 입력이 가능합니다!';
                        $('#userId').focus();
                        return false;
                    }
                }
            }
        })
    }
    // 비밀번호 입력 체크
    function checkPassword() {
        if ($('#userPw').val() === '') {
            $('.userPw').append('<span class="createPwSpan" id="createPwSpan"></span>');
            $('#createPwSpan').css('color', 'red').css('font-size', '10px');
            document.getElementById('createPwSpan').innerText = '비밀번호를 입력하세요!';
            $('#userPw').focus();
            return false;
        }
        if ($('#createPwSpan')) {
            $('#createPwSpan').remove();
            $('#userRePw').focus();
        }
    }
    // 비밀번호 재입력 체크
    function reCheckPassword() {
        $('.userRePw').append('<span class="createRePwSpan" id="createRePwSpan"></span>');
        $('#createRePwSpan').css('color', 'red').css('font-size', '10px');
        if ($('#userRePw').val() === '') {
            document.getElementById('createRePwSpan').innerText = '비밀번호 재확인을 입력하세요!';
            $('#userPw').focus();
            return false;
        }
        if ($('#userRePw').val() !== '' && $('#userPw').val() !== $('#userRePw').val()) {
            document.getElementById('createRePwSpan').innerText = '비밀번호가 다릅니다!';
            $('#userPw').focus();
            return false;
        } else {
            $('#createRePwSpan').css('color', 'blue').css('font-size', '10px');
            document.getElementById('createRePwSpan').innerText = '비밀번호가 일치합니다!';
            $('.userNm').focus();
            return true;
        }
    }
    // 이메일 입력 체크
    function emailCheck() {
        $('.userEmail').append('<span class="createEmailSpan" id="createEmailSpan"></span>');
        $('#createEmailSpan').css('color', 'red').css('font-size', '10px');
        if ($('#userEmail').val() != '') {
            let regExp = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!regExp.test($('#userEmail').val())) {
                document.getElementById('createEmailSpan').innerText = '잘못된 이메일 형식입니다!';
                $('.userEmail').focus();
                return false;
            } else {
                $('#createEmailSpan').css('color', 'blue').css('font-size', '10px');
                document.getElementById('createEmailSpan').innerText = '사용할 수 있는 이메일입니다!';
                $('.userPhone').focus();
                return true;
            }
        } else {
            document.getElementById('createEmailSpan').innerText = '이메일을 입력하세요!';
            $('.userEmail').focus();
            return false;
        }
    }
    // 휴대전화 입력 체크
    function phoneCheck() {
        $('.userPhone').append('<span class="createPhoneSpan" id="createPhoneSpan"></span>');
        $('#createPhoneSpan').css('color', 'red').css('font-size', '10px');
        if ($('#userPhone').val() != '') {
            let regExp = /^01(?:0|1|[6-9])-(?:\d{3}|\d{4})-\d{4}$/;
            if (!regExp.test($('#userPhone').val())) {
                document.getElementById('createPhoneSpan').innerText = '잘못된 전화번호 형식입니다!';
                $('.userPhone').focus();
                return false;
            } else {
                $('#createPhoneSpan').css('color', 'blue').css('font-size', '10px');
                document.getElementById('createPhoneSpan').innerText = '사용할 수 있는 전화번호입니다!';
                $('.addressNum').focus();
                return true;
            }
        } else {
            document.getElementById('createPhoneSpan').innerText = '휴대 전화번호를 입력하세요!';
            $('.userPhone').focus();
            return false;
        }
    }
    // 회원가입 전송
    $(document).on('click', '.btn', function() {

        if(!$("#userId").val()) {
            alert("아이디를 입력하세요!");
            $("#userId").focus();
            return false;
        } else if(!$("#userPw").val()) {
            alert("비밀번호를 입력하세요!");
            $("#userPw").focus();
            return false;
        } else if(!$("#userRePw").val()) {
            alert("비밀번호 재확인을 입력하세요!");
            $("#userRePw").focus();
            return false;
        } else if(!$("#userNm").val()) {
            alert("이름이 입력하세요!");
            $("#userNm").focus();
            return false;
        } else if(!$("#userEmail").val()) {
            alert("이메일을 입력하세요.");
            $("#userEmail").focus();
            return false;
        } else if(!$("#userPhone").val()) {
            alert("휴대번호를 입력하세요.");
            $("#userPhone").focus();
            return false;
        } else if(!$("#addressNum").val()) {
            alert("주소를 클릭하여 선택해 주세요!");
            return false;
        } else if(!$("#address1").val()) {
            alert("주소를 클릭하여 선택해 주세요!");
            $("#addressNum").focus();
            return false;
        } else if(!$("#address2").val()) {
            alert("상세주소를 입력하세요!");
            $(" #address2").focus();
            return false;
        } else if (confirm('가입 하시겠습니까?') === true) {
            axios({
                method: 'post',
                url: '/signup/save',
                data: {
                    m_id: $('#userId').val(),
                    m_name: $('#userNm').val(),
                    m_password: $('#userPw').val(),
                    m_email: $('#userEmail').val(),
                    m_phone: $('#userPhone').val(),
                    m_post: $('#addressNum').val(),
                    m_address: $('#address1').val(),
                    m_detail_address: $('#address2').val(),
                }
            }).then(data => {
                alert('회원가입을 축하합니다!\n\n로그인 페이지로 이동합니다.');
                location.replace("/login");
            }).catch(err => {
                console.error(err);
                throw new Error(err);
            });
        } else {
            return 0;
        }
    })

</script>
<body>
<div class="container">
    <div class="title">
        <%= title %>
    </div>
    <form name="frm">
        <div class="id">
            <p class="userId">아이디</p>
            <input type="text" class="userId" id="userId" name="userId" onchange="checkId(this);" />
        </div>
        <div class="pw">
            <p class="userPw">비밀번호</p>
            <input type="password" class="userPw" id="userPw" name="userPw" onchange="checkPassword();" />
        </div>
        <div class="rePw">
            <p class="userRePw">비밀번호 재확인</p>
            <input type="password" class="userRePw" id="userRePw" name="userRePw" onchange="reCheckPassword();" />
        </div>
        <div class="name">
            <p class="userNm">이름</p>
            <input type="text" class="userNm" id="userNm" name="userNm" />
        </div>
        <div class="email">
            <p class="userEmail">본인이메일</p>
            <input type="email" class="userEmail" id="userEmail" name="userEmail" onchange="emailCheck();" />
        </div>
        <div class="phone">
            <p class="userPhone">휴대전화</p>
            <input type="text" class="userPhone" id="userPhone" name="userPhone" onchange="phoneCheck();" />
        </div>
        <div class="address">
            <p class="userAddress">주소</p>
            <input type="text" class="addressNum" id="addressNum" name="addressNum" placeholder="클릭하세요" onclick="openDaumPostcode('addressNum','address1','address2');" readonly /><br>
            <input type="text" class="address1" id="address1" name="address1" placeholder="기본주소" readonly /><br>
            <input type="text" class="address2" id="address2" name="address2" placeholder="상세주소" /><br>
        </div>
    </form>
    <div class="button">
        <button class="btn" type="button">가 입 하 기</button>
    </div>
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode();" alt="닫기 버튼">
    </div>
</div>
</body>
<script>
    //우편번호 찾기 화면을 넣을 element
    let element_layer = document.getElementById('layer');

    function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }

    function openDaumPostcode(userZipCode, userFirstAddr, userSecondAddr) {
        new daum.Postcode({
            oncomplete : function(data) {
                document.getElementById(userZipCode).value = data.zonecode;
                document.getElementById(userFirstAddr).value = data.address;
                document.getElementById(userSecondAddr).focus();
                element_layer.style.display = 'none';
            },
            width : '100%',
            height : '100%'
        }).embed(element_layer);
        element_layer.style.display = 'block';
        initLayerPosition();
    }

    function initLayerPosition() {
        let width = 300;			//우편번호서비스가 들어갈 element의 width
        let height = 460;			//우편번호서비스가 들어갈 element의 height
        let borderWidth = 5;		//샘플에서 사용하는 border의 두께

        // 위에서 선언한 값들을 실제 element에 넣는다.
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
    }
</script>
</html>